body {
  background-color: #A2B5B6;
}

@media (min-width: 601px) {
  .mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }
}

#home {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header.desktop {
    position: relative;

    width: 500px;

    height: 360px;

    .home-title {
      opacity: 0;
      height: 0;
    }

    .home-logo {
      position: absolute;
      top: 0;
      left: 0;

      width: 500px;
    }

    .home-character {
      position: absolute;
      top: 150px;
      right: 0;
      height: 145px;
      border-bottom: 2px solid black;
    }

    .home-character img {
      height: 100%;
    }
  }

  header.mobile {
    .home-logo {
      width: 80vw;
    }

    .home-logo svg {
      width: 100%;
    }
    .home-character {
      width: 80vw;
    }

    .home-character img {
      width: 100%;
    }


  }

  @media (min-width: 601px) {
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;

      a {
        display: block;
        margin-top: 20px;

        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }


  @media (max-width: 600px) {
    .actions {
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        display: block;
        margin-top: 20px;

        margin-left: 10px;
        margin-right: 10px;

        font-size: 16px;
      }
    }
  }


}