$color-red:    rgb(236, 50, 51);
$color-orange: rgb(239, 135, 59);
$color-yellow: rgb(255, 205, 32);
$color-blue:   rgb(56, 128, 189);
$color-green:  rgb(177, 214, 152);
$color-brown:  rgb(171, 125, 97);
$color-pink:   rgb(213, 107, 107);

$color-xdarkgrey:  rgb(40, 40, 40);
$color-darkgrey:   rgb(128, 128, 128);
$color-grey:       rgb(191, 191, 191);
$color-lightgrey:  rgb(224, 224, 224);
$color-xlightgrey: rgb(240, 240, 240);
$color-bluegrey:   rgb(177, 194, 195);

$color-white: white;
$color-black: black;
