.footer {
  height: 100vh;
  margin-bottom: 40px;
  border-bottom: 2px solid $color-darkgrey;
  background-repeat: no-repeat;
  background-size: 260px auto;
  background-image: url('./assets/images/characters/char4.png');
  background-position: left bottom;
}
