.hero {
  position: relative;
  min-height: 100vh;
  padding: 68px 0;
  &:before {
    content: ' ';
    display: block;
    margin-right: 186px;
    border-top: 2px solid $color-xdarkgrey;
  }
}

.hero-header {
  padding: 40px 0;
}

.hero-title {
  position: relative;
  max-width: 1040px;
  font-family: 'Terrorista', sans-serif;
  font-weight: bold;
  font-size: 7em;
  text-transform: uppercase;
  line-height: 1em;
  color: $color-white;
}

.hero-nav {
  position: absolute;
  top: 40px;
  right: 0;
}
.hero-nav-logo,
.hero-nav-button {
  float: left;
  color: $color-xdarkgrey;
}
.hero-nav-logo-title {
  height: 0;
  overflow: hidden;
}
.hero-nav-logo-image {
  svg {
    width: 120px;
    height: 31px;
  }
}
.hero-nav-button {
  margin-left: 12px;
}

.hero-content,
.hero-text {
  padding-left: 25%;
}
.hero-text {
  padding-top: 20px;
  border-top: 2px solid $color-xdarkgrey;
  font-size: 1.6em;
  line-height: 1.4em;
}
.hero-text + .hero-content {
  margin-top: 40px;
}

/**
 * Colors
 */
.hero.hero--color-white {
  &:before,
  .hero-text {
    border-color: $color-xdarkgrey;
  }
  .hero-text,
  .hero-title,
  .hero-nav-logo,
  .hero-nav-button {
    color: $color-xdarkgrey;
  }
}
.hero.hero--color-black {
  &:before,
  .hero-text {
    border-color: $color-white;
  }
  .hero-text,
  .hero-title,
  .hero-nav-logo,
  .hero-nav-button {
    color: $color-white;
  }
}
.hero.hero--color-green {
  &:before,
  .hero-text {
    border-color: darken($color-green, 60%);
  }
  .hero-text,
  .hero-nav-logo,
  .hero-nav-button {
    color: darken($color-green, 60%);
  }
}
.hero.hero--color-bluegrey {
  &:before,
  .hero-text {
    border-color: darken($color-bluegrey, 50%);
  }
  .hero-text,
  .hero-nav-logo,
  .hero-nav-button {
    color: darken($color-bluegrey, 50%);
  }
}

/**
 * Animations
 */
.hero {
  transition: opacity 1.2s ease-in;
}
.hero,
.hero-title span {
  opacity: 0.0;
  &.is-visible {
    opacity: 1.0;
  }
}

/**
 * Responsive
 */
@media all and (max-width: 960px) {
  .hero-title {
    font-size: 6em;
  }
}
@media all and (max-width: 720px) {
  .hero-title {
    font-size: 5em;
  }
}
@media all and (max-width: 600px) {
  .hero-title {
    font-size: 4em;
  }
}
@media all and (max-width: 480px) {
  .hero-title {
    font-size: 3.4em;
  }
  .hero-content {
    padding-left: 0;
  }
}
