.intro {
  position: relative;
  height: 100vh;
}

/**
 * Header
 */
.intro-hgroup {
  position: absolute;
  bottom: 40px;
  left: 0;
}
.intro-title {
  height: 0;
  overflow: hidden;
}
.intro-tagline {
  width: 224px;
  margin: 60px 0 60px;
  text-align: right;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.4em;
}

/**
 * Illustration
 */
.intro-illustration {
  position: absolute;
  left: 244px;
  right: 0;
  bottom: 40px;
}
.intro-characters {
  width: 360px;
  height: 500px;
  background-position: bottom;
  background-size: 360px auto;
  background-repeat: no-repeat;
  background-image: url('./assets/images/characters/char1.png');
}
.intro-floorline {
  height: 2px;
  background-color: $color-grey; 
}

/**
 * ScrollTip
 */
.intro-scrollTip {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -10px;
  cursor: pointer;
  svg {
    width: 20px;
    height: 32px;
  }
  &.is-hidden {
    z-index: -1;
    opacity: 0.0;
    cursor: default;
  }
}

/**
 * Animations
 */
.intro-logo,
.intro-tagline,
.intro-characters,
.intro-scrollTip {
  opacity: 0.0;
}
.intro-floorline {
  max-width: 0;
}
.intro.intro--isReady {
  .intro-logo,
  .intro-tagline,
  .intro-characters,
  .intro-scrollTip {
    opacity: 1.0;
  }
  .intro-logo {
    transition: opacity 0.8s linear 2.6s;
  }
  .intro-tagline {
    transition: opacity 0.8s linear 4s;
  }
  .intro-characters {
    transition: opacity 0.8s linear 1s, background-image 0.4s;
  }
  .intro-floorline {
    transition: max-width 4s ease;
    max-width: 9999px;
  }
  .intro-scrollTip {
    transition: opacity 0.8s linear 5s;
  }
}
