.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-color: $color-white;
  overflow: hidden;
}
.menu-wrapper {
  position: relative;
  height: 100vh;
  padding: 24px 40px 0;
  margin: 0 auto;
}

.menu-toggleButton {
  position: absolute;
  top: 24px;
  right: 40px;
}

.menu-open {
  color: $color-black;
}

.menu-header {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
.menu-title {
  height: 0;
  overflow: hidden;
}
.menu-logo svg {
  width: 200px;
}
.menu-tagline {
  margin: 40px 0;
  overflow: auto;
  svg {
    float: right;
    width: 180px;
  }
}
.menu-characters {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  left: 244px;
  right: 40px;
  height: 500px;
  background-position: left bottom;
  background-size: 360px auto;
  background-repeat: no-repeat;
  background-image: url('./assets/images/characters/char1.png');
  &::after {
    position: absolute;
    bottom: -4px;
    content: ' ';
    display: block;
    height: 2px;
    width: 100%;
    background-color: $color-darkgrey;
  }
}

.menu-nav {
  position: absolute;
  z-index: 2;
  top: 68px;
  right: 40px;
  font-size: 2em;
  text-align: right;
  line-height: 1.6em;
}
.menu-nav-item.menu-nav-item--highlight {
  color: $color-orange;
}

.menu-footer {
  position: absolute;
  bottom: 52px;
  right: 40px;
  opacity: 0.4;
  transition: opacity 0.4s;
  text-align: right;
  font-size: 0.9em;
  &:hover {
    opacity: 1.0;
  }
}

.menu-closed {
  position: relative;
  opacity: 0.0;
  color: $color-black;
  &::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 27px;
    left: 0;
    right: 176px;
    border-bottom: 2px solid $color-black;
  }
}
.menu-closed-logo {
  float: right;
  margin-right: 46px;
}
.menu-closed-logo-title {
  height: 0;
  overflow: hidden;
}
.menu-closed-logo-image svg {
  height: 30px;
  width: 124px;
}

/**
 * States
 */
.menu.menu--isClosed {
  overflow: hidden;
  max-height: 60px;
  background-color: currentColor;
  .menu-open {
    opacity: 0.0;
  }
  .menu-closed {
    opacity: 1.0;
  }
}

/**
 * Animations
 */
.menu {  
  -webkit-transition: max-height 0.4s ease-in-out, background 0.2s ease-in-out;
  -moz-transition: max-height 0.4s ease-in-out, background 0.2s ease-in-out;
  -o-transition: max-height 0.4s ease-in-out, background 0.2s ease-in-out;
  transition: max-height 0.4s ease-in-out, background 0.2s ease-in-out;
}
.menu-open,
.menu-closed {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;  
}
.menu-open {
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  transition-delay: 0.4s;  
}
.menu.menu--isClosed .menu-open {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;  
}

/**
 * Responsive
 */
@media all and (max-width: 720px) {
  .menu-characters {
    background-size: 300px auto;
  }
}
@media all and (max-width: 500px) {
  .menu-header {
    left: auto;
    right: 40px;
    bottom: 72px;
  }
  .menu-logo svg {
    float: right;
    width: 65px;
    height: 75px;
  }
  .menu-tagline {
    display: none;
  }
  .menu-characters {
    display: none;
  }
  .menu-footer {
    bottom: 20px;
  }
}

/**
 * Colors
 */
.menu-closed,
.menu-toggleButton {
  transition: color 0.25s ease-in-out;
  &::before {
    transition: border-bottom-color 0.25s ease-in-out; 
  }
}
.tmpl--color-bluegrey .menu.menu--isClosed {
  .menu-closed,
  .menu-toggleButton {
    color: darken($color-bluegrey, 50%);
    &::before {
      border-bottom: 2px solid darken($color-bluegrey, 50%);
    }
  }
}
.tmpl--color-blue .menu.menu--isClosed {
  .menu-closed,
  .menu-toggleButton {
    color: darken($color-blue, 30%);
    &::before {
      border-bottom: 2px solid darken($color-blue, 30%);
    }
  }
}
.tmpl--color-orange .menu.menu--isClosed {
  .menu-closed,
  .menu-toggleButton {
    color: darken($color-orange, 30%);
    &::before {
      border-bottom: 2px solid darken($color-orange, 30%);
    }
  }
}
.tmpl--color-green .menu.menu--isClosed {
  .menu-closed,
  .menu-toggleButton {
    color: darken($color-green, 50%);
    &::before {
      border-bottom: 2px solid darken($color-green, 50%);
    }
  }
}
.tmpl--color-xlightgrey .menu.menu--isClosed {
  .menu-closed,
  .menu-toggleButton {
    color: darken($color-darkgrey, 20%);
    &::before {
      border-bottom: 2px solid darken($color-darkgrey, 20%);
    }
  }
}
.tmpl--color-red .menu.menu--isClosed {
  .menu-closed,
  .menu-toggleButton {
    color: darken($color-red, 40%);
    &::before {
      border-bottom: 2px solid darken($color-red, 40%);
    }
  }
}
