/**
 * Wrappers
 */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: $color-white;
}
.menu-left,
.menu-right {
  position: absolute;
  height: 100%;
}
.menu-left {
  top: 50%;
  left: 25%;
  margin-left: -225px;
  margin-top: -195px;
  width: 452px;
}
.menu-right {
  top: 40px;
  right: 40px;
}

/**
 * Units
 */
.menu-header {
  float: left;
}
.menu-logo-title {
  height: 0;
  overflow: hidden;
}
.menu-logo-image {
  svg {
    width: 200px;
  }
}
.menu-logo-tagline {
  width: 200px;
  margin-top: 0.5em;
  word-wrap: break;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1.82em;
  line-height: 1.4em;
}
.menu-characters {
  position: relative;
  float: left;
  width: 240px;
  height: 380px;
  margin-left: 8px;
  background-position: bottom;
  background-size: 240px auto;
  background-repeat: no-repeat;
  background-image: url('./assets/images/characters/char1.jpg');
  &::after {
    position: absolute;
    bottom: -4px;
    content: ' ';
    display: block;
    height: 2px;
    width: 100%;
    background-color: $color-darkgrey;
  }
}
.menu-nav {
  text-align: right;
  font-size: 2em;
}
.menu-nav-list {
  margin-top: 40px;
}
.menu-nav-item {
  line-height: 1.4em;
}
.menu-footer {
  position: absolute;
  bottom: 36px;
  right: 40px;
  opacity: 0.4;
  transition: opacity 0.4s;
  text-align: right;
  font-size: 0.9em;
  &:hover {
    opacity: 1.0;
  }
}

/**
 * States
 */
.menu.menu--isClosed {
  display: none;
}

/**
 * Animation
 */
.menu {
  &.menu--a-leave-active,
  &.menu--a-enter-active {
    transition: opacity 0.4s;
  }
  &.menu--a-enter,
  &.menu--a-leave.menu--a-leave-active {
    display: block;
    opacity: 0.0;
  }
  &.menu--a-leave,
  &.menu--a-enter.menu--a-enter-active {
    display: block;
    opacity: 1.0;
  }
}
