.news .section-character {
  right: 200px;
}
.news-list {
  margin: 80px auto 0;
  max-width: 960px;
}
.news-item {
  overflow: auto;
  position: relative;
  display: block;
  margin: 10px;
  padding: 20px;
  border-top: 2px solid $color-white;
  color: $color-white;
  font-weight: normal;
  opacity: 0.9;
  transition: padding 0.4s, opacity 0.4s;
  &:hover {
    padding: 40px 20px;
    opacity: 1.0;
    .news-item-link {
      opacity: 1.0;
      font-weight: normal;
    }
  }
}
.news-item-picture {
  float: right;
  width: 320px;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 12px;
  box-shadow: 1px 2px 20px -4px $color-grey;
  background-color: $color-white;
  overflow: auto;
  img {
    float: left;
    width: 100%;
    height: auto;
  }
}
.news-item-title {
  display: inline;
  max-width: 480px;
  font-family: 'Terrorista';
  font-size: 3em;
  letter-spacing: 0.02em;
  line-height: 1em;
}
.news-item-date {
  white-space: nowrap;
}
.news-item-excerpt {
  max-width: 480px;
  margin-top: 12px;
  font-size: 1.4em;
  line-height: 1.4em;
}
.news-item-link {
  max-width: 480px;
  margin-top: 12px;
  font-weight: bold;
  opacity: 0.5;
}

.news-back,
.news-more {
  max-width: 960px; 
  margin: 0px auto;
  padding: 20px 20px 0;
  display: block;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;
  &:hover {
    opacity: 1.0;
    color: rgba(255, 255, 255, 0.8);
  }
}
.news-more {
  border-top: 2px solid $color-white;
}

.news-signup-wrapper {
  padding-top: 120px;
}
.news-signup {
  margin: 40px -40px;
  padding: 40px;
  border-top: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  text-align: center;
}
.news-signup-callout {
  font-size: 2em;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  color: $color-white;
}
.news-signup-disclaimer {
  max-width: 480px;
  margin: 0 auto 0;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: $color-white;
  opacity: 0.8;
}
.news-signup-button {
  display: inline-block;
  margin: 20px auto;
  padding: 12px 40px;
  font-size: 1.2em;
  border: 2px solid $color-white;
  background-color: rgba(255, 255, 255, 0.2);
  color: $color-white;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:focus,
  &:active {
    outline: none;
  }
}

@media all and (max-width: 720px) {
  .news-item-picture {
    float: none;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 20px 20px 0;
  }
}
