.news .section-character {
  right: 200px;
}
.news-item {
  max-width: 320px;
  &:hover .news-item-link {
    color: $color-black;
  }
}
.news-item-picture {
  margin: 0 -4px 20px;
  box-shadow: 1px 1px 8px $color-grey;
  overflow: auto;
  img {
    float: left;
    width: 100%;
    height: auto;
  }
}
.news-item-title {
  margin-bottom: 12px;
  font-family: 'Terrorista';
  font-size: 1.8em;
  letter-spacing: 0.02em;
}
.news-item-excerpt {
  font-size: 1.2em;
  line-height: 1.4em;
}
.news-item-link {
  margin-top: 8px;
  font-weight: bold;
  font-size: 0.9em;
  color: $color-grey;
  text-align: right;
}
