.news .section-character {
  right: 200px;
}
.news-item {
  max-width: 320px;
  font-weight: normal;
  &:hover {
    opacity: 1.0;
    -webkit-transform: scale(1.005);
    -moz-transform: scale(1.005);
    -o-transform: scale(1.005);
    transform: scale(1.005);
    .news-item-link {
      color: $color-black;
    }
  }
}
.news-item-picture {
  margin: -20px -20px 20px;
  box-shadow: 1px 2px 20px -4px $color-grey;
  background-color: $color-lightgrey;
  overflow: auto;
  img {
    float: left;
    width: 100%;
    height: auto;
  }
}
.news-item-title {
  display: inline;
  font-family: 'Terrorista';
  font-size: 1.8em;
  letter-spacing: 0.02em;
  line-height: 1em;
}
.news-item-date {
  font-size: 0.8em;
}
.news-item-excerpt {
  margin-top: 12px;
  font-size: 1.2em;
  line-height: 1.4em;
}
.news-item-link {
  margin-top: 12px;
  font-weight: bold;
  font-size: 0.9em;
  color: $color-grey;
}

.news-signup-wrapper {
  padding-top: 120px;
}
.news-signup {
  margin: 40px -40px;
  padding: 40px;
  border-top: 2px solid $color-white;
  border-bottom: 2px solid $color-white;
  text-align: center;
}
.news-signup-callout {
  font-size: 2em;
  letter-spacing: 0.02em;
  line-height: 1.4em;
  color: $color-white;
}
.news-signup-disclaimer {
  max-width: 480px;
  margin: 0 auto 0;
  font-size: 1.2em;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: $color-white;
  opacity: 0.8;
}
.news-signup-button {
  display: inline-block;
  margin: 20px auto;
  padding: 12px 40px;
  font-size: 1.2em;
  border: 2px solid $color-white;
  background-color: rgba(255, 255, 255, 0.2);
  color: $color-white;
  &:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:focus,
  &:active {
    outline: none;
  }
}
