.project-content {
  padding-left: 25%;
  padding-top: 20px;
  border-top: 2px solid $color-xdarkgrey;
  font-size: 1.8em;
  line-height: 1.4em;
}

/**
 * Responsive
 */
@media all and (max-width: 600px) {
  .project-content {
    font-size: 1.6em;
  }
}
