.survey-action {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
}
.survey-action-disclaimer {
  margin: 40px 0;
  font-size: 2em;
  line-height: 1.4em;
}
.survey .survey-action-character-1 {
  bottom: auto;
  right: auto;
  top: 20%;
  left: 50%;
  margin-left: -720px;
}
.survey .survey-action-character-2 {
  bottom: 10%;
  right: auto;
  left: 50%;
  margin-left: 80px;
}
