.infoblock {
  position: relative;
  overflow: auto;
  min-height: 120px;
}
.infoblock + .infoblock {
  margin-top: 40px;
}
.infoblock-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  overflow: hidden;
  img {
    float: left;
    width: 100%;
    height: auto;
  }
}
.infoblock-image + .infoblock-main {
  padding-left: 140px;
}

.infoblock-title {
  display: inline;
  margin-right: 4px;
  font-size: 1.6em;
  line-height: 1.2em;
  text-transform: uppercase;
}
.infoblock-time {
  display: inline;
}
.infoblock-text {
  margin-top: 8px;
  font-size: 1.4em;
  line-height: 1.2em;
}
