
$logo-ratio: 3.6;
$logo-h: 40px;
$logo-l-h: 100px;
$logo-w: floor($logo-h * $logo-ratio);
$logo-l-w: floor($logo-l-h * $logo-ratio);

$logo-v-ratio: 0.85;
$logo-v-h: 100px;
$logo-v-l-h: 240px;
$logo-v-w: floor($logo-v-h * $logo-v-ratio);
$logo-v-l-w: floor($logo-v-l-h * $logo-v-ratio);

$logo-chars-h: 60px;
$logo-chars-h-l: 120px;

.logo-title {
  display: block;
  color: transparent;
  word-wrap: break-word;

  background-position: left center;
  background-repeat: no-repeat;

  height: $logo-h;
  width:  $logo-w;
  background-image: url('./assets/images/logo-comoanda-horizontal.png');
  background-size: auto $logo-h;
}
.logo-characters {
  height: $logo-chars-h;
  width: $logo-w;
  background-image: url('./assets/images/characters/char1.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: $logo-w auto;
  border-bottom: 1px solid $color-darkgrey;
}
.logo-tagline {
  display: block;
  width: $logo-w;
  margin-top: 0.8em;
  word-wrap: break;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  font-size: 0.735em;
}
.logo-title + .logo-characters {
  margin-top: 0.4em;
}

/**
 * Sizes
 */
.logo.logo--size-large {
  .logo-title {
    height: $logo-l-h;
    width:  $logo-l-w;
    background-size: auto $logo-l-h;
  }
  .logo-characters {
    width:  $logo-l-w;
    height: $logo-chars-h-l;
    background-size: $logo-l-w auto;
    border-bottom: 2px solid $color-darkgrey;
  }
  .logo-tagline {
    width: $logo-l-w;
    font-size: 1.72em;
  }
  .logo-title + .logo-characters {
    margin-top: 0.8em;
  }
  .logo-title + .logo-tagline {
    margin-top: 0.5em;
  }
}

/**
 * Styles
 */
.logo.logo--style-vertical {
  .logo-title {
    height: $logo-v-h;
    width:  $logo-v-w;
    background-image: url('./assets/images/logo-comoanda-vertical.png');
    background-size: auto $logo-v-h;
  }
  .logo-characters {
    width: $logo-v-w;
    height: $logo-chars-h;
    background-size: $logo-v-w auto;
  }
  .logo-tagline {
    width: $logo-v-w;
    font-size: 0.9em;
    line-height: 1.1em;
  }
  .logo-title + .logo-characters {
    margin-top: 0.4em;
  }
  .logo-title + .logo-tagline {
    margin-top: 1em;
  }
}
.logo.logo--style-vertical.logo--size-large {
  .logo-title {
    height: $logo-v-l-h;
    width:  $logo-v-l-w;
    background-size: auto $logo-v-l-h;
  }
  .logo-characters {
    width: $logo-v-l-w;
    height: $logo-chars-h-l;
    background-size: $logo-v-l-w auto;
  }
  .logo-tagline {
    width: $logo-v-l-w;
    font-size: 2.2em;
  }
  .logo-title + .logo-characters {
    margin-top: 0.8em;
  }
  .logo-title + .logo-characters + .logo-tagline {
    margin-top: 0.4em;
  }
  .logo-title + .logo-tagline {
    margin-top: 1em;
  }
}
