
$logo-ratio: 3.6;
$logo-h: 40px;
$logo-l-h: 100px;
$logo-w: floor($logo-h * $logo-ratio);
$logo-l-w: floor($logo-l-h * $logo-ratio);

$logo-v-ratio: 0.85;
$logo-v-h: 100px;
$logo-v-l-h: 240px;
$logo-v-w: floor($logo-v-h * $logo-v-ratio);
$logo-v-l-w: floor($logo-v-l-h * $logo-v-ratio);

.logo-title {
  display: block;
  color: transparent;
  word-wrap: break-word;

  background-position: left center;
  background-repeat: no-repeat;

  height: $logo-h;
  width:  $logo-w;
  background-image: url('./assets/images/logo-comoanda-horizontal.png');
  background-size: auto $logo-h;
}
.logo-tagline {
  display: block;
  width: $logo-w;
  margin-top: 0.8em;
  word-wrap: break;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.735em;
}

/**
 * Sizes
 */
.logo.logo--size-large {
  .logo-title {
    height: $logo-l-h;
    width:  $logo-l-w;
    background-size: auto $logo-l-h;
  }
  .logo-tagline {
    width: $logo-l-w;
    margin-top: 0.5em;
    font-size: 1.72em;
  }
}

/**
 * Styles
 */
.logo.logo--style-vertical {
  .logo-title {
    height: $logo-v-h;
    width:  $logo-v-w;
    background-image: url('./assets/images/logo-comoanda-vertical.png');
    background-size: auto $logo-v-h;
  }
  .logo-tagline {
    width: $logo-v-w;
    margin-top: 1em;
    font-size: 0.9em;
    line-height: 1.1em;
  }
}
.logo.logo--style-vertical.logo--size-large {
  .logo-title {
    height: $logo-v-l-h;
    width:  $logo-v-l-w;
    background-size: auto $logo-v-l-h;
  }
  .logo-tagline {
    width: $logo-v-l-w;
    margin-top: 1.6em;
    font-size: 1.8em;
    line-height: 1.4em;
  }
}
